<div class="panel">
  <span class="left"><h5><b>COMMUNITY</b></h5></span>
  <span class="right">
    <ul class="inline-list">
      <li class="primary btn-override button tiny">T</li>
      <li class="primary btn-override button tiny">7</li>
      <li class="primary btn-override button tiny">30</li>
      <li class="primary btn-override button tiny">YR</li>
      <li class="primary btn-override button tiny"><i class="fa fa-calendar"></i></li>
    </ul>
  </span>
  <div id="community" style="width:100%;"></div>
</div>
