<div class="panel">
  <h5><b>DISPLAY</b></h5>
  <div class="row panel">
    <div class="sub-panel large-6 columns">
      <ul>
        <li class="dot blue">Resilience</li>
        <li class="dot grey">Time Management</li>
        <li class="dot grey">School Climate</li>
        <ul>
          <li class="dot pink">Safety</li>
          <li class="dot grey">Support for Learning</li>
          <li class="dot green">Relationships</li>
          <li class="dot grey">Facilities / Resources</li>
        </ul>
      </ul>
    </div>

    <div class="sub-panel large-6 columns">
      <ul class="inline-list">
        <li class="dot grey">Composite</li>
        <li class="dot grey">Seperate</li>
      </ul>
      <hr />
      <ul>
        <li class="dot green">Students</li>
        <li class="dot green">Faculty</li>
        <li class="dot grey">Parents</li>
      </ul>
    </div>
  </div>
</div>
