<div class="panel">
  <h5 class="left"><b>LIVE</b>QUESTIONS</h5>
  <span class="right small">Weekly Limit <span class="success label">5 Left out of 20</span></span>
  <br><br>
  <form>
    <div class="row">
      <div class="small-12">
        <div class="row">
          <div class="small-2 columns">
            <label for="right-label" class="right">Text</label>
          </div>
          <div class="small-10 columns">
            <textarea></textarea>
          </div>
        </div>

        <div class="row">
          <div class="small-2 columns">
            <label for="right-label" class="right">Response Options</label>
          </div>
          <div class="small-10 columns">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
          </div>
        </div>

        <div class="row">
          <div class="small-2 columns">
            <label for="right-label" class="right">Schedule</label>
          </div>
          <div class="small-10 columns">
            <a href="#" class="secondary button tiny">SEND NOW</a>
          </div>
        </div>

        <div class="row">
          <div class="small-offset-2 small-10 columns">
            <span class="small left">SEND <br>LATER</span>
            <span class="seondary button tiny calendar datetimepicker"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
