<div class="row">
  <div class="large-2 columns">
    <ul class="title-area">
      <li class="name">
        <%= image_tag "logo-transparent.png" %>
      </li>
    </ul>
  </div>
  <div class="large-5 columns white">
    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name white logo"><b>LIVE</b>DASHBOARD</li>
      </ul>
    </section>
  </div>
  <div class="large-5 columns white">
    <section class="top-bar-section">
      <ul class="right title-area">
        <li class="divider"></li>
        <li class="name white date-time">
          <span>
            <%= Time.now.strftime("%a %b %d") %>
            <span class="success">|</span>
            <%= Time.now.strftime("%I:%M %p") %>
          </span>
        </li>
      </ul>
    </section>
  </div>
</div>
