<div class="row">
  <div class="large-2 columns">
    <ul class="title-area">
      <li class="name">
        <%= image_tag "logo-transparent.png" %>
      </li>
    </ul>
  </div>
  <div class="large-5 columns white">
    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name white logo"><b>Live</b>Dashboard</li>
      </ul>
    </section>
  </div>
  <div class="large-5 columns white">
    <section class="top-bar-section">
      <ul class="right title-area">
        <li class="name white date-time">
          <%= Time.now.strftime("%a %b %d") + " | " + Time.now.strftime("%I:%M %p") %>
        </li>
      </ul>
    </section>
  </div>
</div>
