<div class="row">
  <aside class="large-3 columns">
    <div class="panel">
      <h5>Our School</h5>
      <ul class="scrollable">
        <li>Founders Memorial</li>
        <li>Essex Elementary</li>
        <li>Essex High School</li>
        <li>Ridgemont High School</li>
        <li>University of Okoboji</li>
      </ul>
    </div>

    <div class="panel">
      <h5>Our People</h5>
      <ul class="list">
        <li class="secondary button tiny expand">Faculty / Staff</li>
        <li class="secondary button tiny expand">Students</li>
        <li class="secondary button tiny expand">Parents</li>
        <li class="secondary button tiny expand">Coaches</li>
        <li class="secondary button tiny expand">Volunteers</li>
      </ul>
    </div>

    <div class="panel">
      <h5>Tags</h5>
      <ul class="list">
        <li class="secondary button tiny expand">
          <h5>Grade</h5>
          <ul class="inline-list">
            <li class="primary button tiny">9</li>
            <li class="success button tiny">10</li>
            <li class="primary button tiny">11</li>
            <li class="primary button tiny">12</li>
          </ul>
        </li>
        <li class="secondary button tiny expand">
          <h5>Subject</h5>
          <select>
            <option>Founders Memorial</option>
            <option>Essex Elementary</option>
            <option>Essex High School</option>
            <option>Ridgemont High School</option>
            <option>University of Okoboji</option>
          </select>
        </li>
        <li class="secondary button tiny expand">
          <h5>Gender</h5>
          <select>
            <option>Male</option>
            <option>Female</option>
            <option>Other*</option>
          </select>
        </li>
      </ul>
      <br />
    </div>
  </aside>

  <div class="large-9 columns" role="content">
    <article>
      <h3><a href="#">Blog Post Title</a></h3>

      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <h6>COMMUNITY</h6>
            Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
          </div>
          <div class="panel">
            <h6>LIVE QUESTIONS</h6>
            Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <h6>DISPLAY</h6>
            Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
          </div>
          <div class="panel">
            <h6>RESULTS</h6>
            Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
